<h1 class="display-4 text-muted text-center mt-5">Sign up</h1>

<div class="text-danger">
  <%= render "devise/shared/error_messages", resource: resource %>
</div>

<div class="w-50 mx-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="text-center">
      <div class="form-check form-check-inline my-4">
        <%= f.radio_button :role, "1", class: "form-check-input" %>
        <%= f.label :role, 'Agent', class: "form-check-label", :value => '1' %> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <%= f.radio_button :role, "0", class: "form-check-input" %>
        <%= f.label :role, 'Customer', class: "form-check-label", :value => '0' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :Name %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :Email_Address %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      <small class="form-text text-muted">We'll never share your email with anyone else. Trust us!</small>
    </div>

    <div class="form-group">
      <%= f.label :Password %>
      <br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <small class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
    </div>

    <div class="form-group">
      <%= f.label :Password_Confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-success btn-block mt-5" %>
    </div>

  <% end %>

  <div class="text-center my-5">
    <%= link_to "â† Back", :back, class: "btn btn-primary btn-sm", form: {style: 'display:inline-block;'} %>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-primary btn-sm", form: {style: 'display:inline-block;'} %>
  </div>
</div>