<!DOCTYPE html>
<html>
  <head>
    <title>AgencyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <%= image_tag 'https://media.giphy.com/media/dYUslDahf6Uw71gH3t/giphy.gif', size: "100x100", class: "amigos-logo" %>
          <a class="navbar-brand" href="/">Amigos</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <% if user_signed_in? %>
                  <% if current_user.role == "0" %>
                    <%= link_to 'Bookings', bookings_path(@bookings), class: "nav-link" %>
                  <%end%>
                <%end%>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <% if user_signed_in? %>
                  <%= link_to "Log out", destroy_user_session_path, class: "nav-link", method: :delete %>
                <% else %>
                  <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
                <% end %>
              </li>
            </ul>

          </div>

        </nav>
      </header>

    <div class="container-fluid">

      <div class="w-100 text-center my-2">

        <%# flash messages %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

      </div>

      <%= yield %>
    </div>

    <footer class="container-fluid bg-primary py-4">
      <div class="text-center">
        <small>&copy; Copyright 2019, ❮❯ by Amigos</small>
      </div>
    </footer>
  </body>
</html>
