<!DOCTYPE html>
<html>
  <head>
    <title>AgencyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Amigos</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>

            <ul class="my-2 my-lg-0 d-inline-block">

             <% if user_signed_in? %>
              <% if current_user.role == "0" %>
                <%= link_to 'Booking', bookings_path(@bookings), class: "text-white" %>
              <% else %>
                <%= link_to 'My packages', bookings_path(@bookings), class: "text-white" %>
              <%end%>
            <%end%>



            <ul class="my-2 my-lg-0 d-inline-block">
              <% if user_signed_in? %>
                <%= link_to "Log out", destroy_user_session_path, class: "text-white", method: :delete %>
              <% else %>
                <%= link_to "Log In", new_user_session_path, class: "text-white" %>
              <% end %>
            </ul>
          </div>

        </nav>
      </header>

    <div class="container-fluid">

      <div class="w-100 text-center mt-5">
        <%# flash messages %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%if current_user%>
          <h3>Hi <%= current_user.name %>, you are logged in as
              <%if current_user.role == "0"%>
                a Customer and you have <%=current_user.bookings.count%> <%if current_user.bookings.count == 1%> booking <%else%> bookings <%end%>
              <%else%>
                an Agent and you have <%=current_user.packages.count%> <%if current_user.packages.count == 1%> package <%else%> packages <%end%>
              <%end%>
          </h3>
        <%end%>
      </div>

      <%= yield %>
    </div>

    <footer class="col">

    </footer>
  </body>
</html>
